# Big files we want to avoid tracking
fake_news_classifier.zip
fake_news_classifier/model.safetensors
data/True.csv
data/Fake.csv

# Catch-all just in case
*.zip
*.safetensors
*.csv

# Jupyter & Python junk
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store